@import "tailwindcss";

@theme inline {
  --color-background: #F8FAFC;
    --color-foreground: #0F172A;
    --font-sans: var(--font-onest);
  --font-mono: var(--font-geist-mono);
  --color-primary: #032B69;
}

body {
  background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-onest), Arial, Helvetica, sans-serif;
}
